<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-8 justify-content-between" style="display: flex;">
          <ng-container *ngIf="!showAddUser; else addUserForm">
            <button mat-raised-button class="btn" color="accent" matTooltip="Add new chat room" (click)="showAddUser = !showAddUser"><mat-icon>add</mat-icon></button>
          </ng-container>
          <ng-template #addUserForm>
            <div>
              <mat-form-field>
                <input matInput type="text" placeholder="Add new chat room" [formControl]="newUser">
              </mat-form-field>
              <button mat-icon-button class="btn" style="color: green;" matTooltip="Save new chat room" (click)="addNewChatRoom()"><mat-icon>save</mat-icon></button>
              <button mat-icon-button class="btn" color="warn" matTooltip="Cancel" (click)="showAddUser = false; newUser.setValue('')"><mat-icon>close</mat-icon></button>
            </div>
          </ng-template>
          <h2>Chat Rooms</h2>
          <button mat-raised-button class="btn" color="warn">Logout</button>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
                <!-- S No Column -->
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef> S. No. </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                </ng-container>
              
                <!-- Room Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="navigateToRoom(element)"> {{element.name}} </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="deleteChatRoom(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>